.NewContract {
    padding: 100px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}

.new-contract {
    padding: 100px 30px 30px 30px;
    min-height: calc(100vh - 70px);
}


.label-contact {
    margin:  5px 10px;

}

.input-contact {

  height: 27px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 2px #dedede;
  
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #8a8a92;
}

.adress1 {
    margin-top: 20px;
}

.newcontract-table-header-item {
    border: solid 2px #dedede;
    text-align: center;
    height: 50px;
}

.newcontract-table-row-item {
    border: solid 2px #dedede;
    text-align: center;
    height: 50px;
}


.newcontract-table-row-item input {
    border:none;
    height: 50px;
    width: 150px;
}

.Contact {
    background-color: white;
    padding: 10px;
}
#button-contact {
    margin-top: 20px;
    width: 150px;
  height: 50px;
  border-radius: 35px;
  border: solid 2px #000000;
  background: none;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #1e1e1e;
}

.billing-address-title {
    display: inline-block;
    width: 15%;
    font-size: 20px;
    height: 200px;
    float: left;

}

.billing-address-form {
    display: inline-block;
    width: 25%;
    float: left;
}