.newcontract-info-title {
    display: inline-block;
    color: $black;
    font-size: 18px;
}

.item-table-row-input {
    padding: 20px 30px;
    border: $px-border;

    input {
        height: 22px;
        outline: none;
        border: none;
        color: $black;

        &.code {
            width: 45px;
        }
    
        &.item {
            width: 96px;
        }
    
        &.description {
            width: 106px;
        }
    
        &.qty {
            width: 21px;
        }
    
        &.prices {
            width: 61px;

        }    
    }

}

.newcontract-info-row {
    margin: 10px 0 0 50px;
}


.newcontract-row-item {
    display: inline-block;
    padding: 30px 30px;
}


.input-contact {
    display: block;
    outline: none;
    color: $black;

    input {
        height: 22px;
        width: 180px;
        border: $px-border;
        outline: none;
        font-weight: 400;
    }
}

.input-address {
    margin: 0 0 5px 0;
    display: block;
    outline: none;
    color: $black;
    border: 1px solid $black;

    input {
        height: 22px;
        width: 250px;
        border: $px-border;
        font-weight: 400;
    }
}

.newcontract-address-title {
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.newcontract-address-form {
    margin: 0 0 0 35px;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.submit-button {
    display: inline-block;
    float: right;
    background: none;
    width: 180px;
    height: 63px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    border: solid 2px transparent;
    border-radius: 35px;
    background-image: linear-gradient($white, $white), linear-gradient(to top, #361fb2, #2768c9, #2768c9);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 0;
    margin: 0 80px 40px 0;
}

