.balance {
    margin-top: 60px;
}

.balance-title {
    margin: 0 0 10px 0;
    text-align: center;
}

.changes-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url(/images/icons/growth.svg);
    background-size: 20px 20px;
    margin-left: 85px;     
}

.changes-title {
    position: relative;
    top: -25px;
    display: block;
    text-align: center;
}