.difference-table {
    margin: 0 auto;
}

.difference-table:last-child {
    border-bottom: none;
}


.difference-table-item {
    border-bottom: $px-border;
}

.difference-table-key {
    padding: 10px 0 10px 50px;
}

.difference-table-value {
    padding: 0 50px 0 80px;
    text-align: center;
}