.profile {
    height: 70px;
    width: 100%;
    display: inline-flex;
    align-items: center;
    border-bottom: 1px solid $border; 
}

.profile-title {
    margin-left:15px;
    margin-bottom: 0;
    font-size: 18px;
    font-weight: bold;
}

.profile-avatar {
    margin-left: 35px;
}
