.contract-container {
    background: $white;
    margin-top: 30px;
    border: $px-border;
}

.info-row {
    margin: 0 0 0 20px;
}

.row-item {
    display: inline-block;
    padding: 30px 50px;
}

.contract-info-title {
    color: $text-grey;
    font-size: 16px;
}

.info-item {
    margin: 0 0 0 0;
    font-size: 16px;
}