.events-table-title {
    text-align: center;
    margin: 30px auto;
    font-size: 16px;
}

.events-table {
    border: $px-border;
    margin: 40px auto;
}

.events-table-header-item {
    text-align: center;
    padding: 20px 30px;
    border: $px-border;
}

.events-table-row-item {
    text-align: center;
    padding: 20px 30px;
    border: $px-border;
}