.items-table {
    border: $px-border;
    margin: 30px auto;
}

.item-table-header-item {
    padding: 20px 30px;
    border: $px-border;
}

.item-table-row-item {
    padding: 20px 30px;
    border: $px-border;
}